<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">¿Olvidaste tu contraseña?</h2>
                  <p>Puedes reestablecerla aqui.</p>
                  <div class="panel-body">
    
                    <form action='@Url.Action("CambiarContraseña", "Account")' id="register-form" role="form" autocomplete="off" class="form" method="post">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <label for="Username">Nombre de usuario</label>
                          <input id="Username" name="Username" placeholder="Username" class="form-control" type="text" value="">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <label for="preguntaSeguridad">¿Cual es el nombre de tu primer mascota?</label>
                          <input id="preguntaSeguridad" name="preguntaSeguridad" class="form-control" type="text" value="">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <label for="nuevaContrasena">Ingresa tu nueva contraseña</label>
                          <input id="nuevaContrasena" name="nuevaContrasena" class="form-control" type="pass" value="">
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Cambiar contraseña" type="submit">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>