<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registrate</h3>
            <form action='@Url.Action("CrearUsuario", "Account")' onsubmit="return ValidarContrasena()">

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="firstName">Nombre</label>
                    <input type="text" id="firstName" class="form-control form-control-lg" name="Nombre" value="" required/>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">Apellido</label>
                    <input type="text" id="lastName" name="Apellido" value="" class="form-control form-control-lg"/>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <label for="Username" class="form-label">Username</label>
                    <input type="text" class="form-control form-control-lg" id="Username" name="Username" value=""/>
                  </div>
                </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Email</label>
                    <input type="email" id="emailAddress" class="form-control form-control-lg" name="Email" value=""/>
                  </div>

                </div>
              </div>
              <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="Contrasena">Contraseña</label>
                    <input type="password" id="Contrasena" class="form-control form-control-lg" name="Contrasena" value=""/>
                  </div>
                </div>
              <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="RepetirContrasena">Repetir contraseña</label>
                    <input type="password" id="RepetirContrasena" class="form-control form-control-lg" name="RepetirContrasena"/>
                  </div>
              </div>
              <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="preguntaSeguridad">Pregunta de seguridad: ¿Cual es el nombre de tu primer mascota?</label>
                    <input type="text" id="preguntaSeguridad" class="form-control form-control-lg" name="preguntaSeguridad"/>
                  </div>
              </div>
              </div>
              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit"/>
              </div>
                <div id="mensajeError" class="alert alert-danger" role="alert" style="display: none;">
                    <p id="error"></p>
                </div>
                @if(ViewBag.error != null){
                  <div class="alert alert-danger" role="alert">
                      @ViewBag.error
                  </div>
                }

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function ValidarContrasena(){
    const contrasena = document.getElementById("Contrasena").value;
    const caracteres = '!"#$%&/(=?¿¡)+-.,:;*'
    let caracter = false, mayus = false;
    let i = 0;
    let o = 0;
    if(contrasena.length >= 8){
      while(i<contrasena.length && caracter == false){
      while(o<caracteres.length && caracter == false){
        if(contrasena[i] == caracteres[o]){
          caracter = true;
        }
        o++;
      }
      o=0;
      i++;
    }
    if(caracter == true){
      i=0;
      while(i<contrasena.length && mayus == false){
        if(contrasena[i] == contrasena[i].toUpperCase()){
          mayus = true;
        }
        i++;
      }
    }
    }
    if(mayus == false){
      const error = document.getElementById("error");
      error.innerHTML = "Contraseña incorrecta, minimo 8 caracteres, un carcater especial y un numero.";
      const mensajeError = document.getElementById("mensajeError");
      mensajeError.style.display = "block";
    }
    return (mayus == true)
  }
  
</script>